body {
    background-color: rgb(1, 0, 41);
}

.container {
    width: 80vw;
    height: 80vh;
    display: flex;
    margin-left: 10vw;
    background-color: aliceblue;
    margin-top: 7vh;
    position: relative;
    background-image: url("Physics1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.ball {
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
    width: 100px;
    height: 100px;
    border: 2px solid;
    border-radius: 50px;
    background-color: blue;
    animation: animX 5s infinite linear, animY 0.9s infinite alternate ease-out;

}

@keyframes animX {
    from {
        left: 0;

    }

    to {
        left: 80%;
    }
}

.titlename {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 0;
    font-size: larger;
    color: rgb(108, 87, 193)
}

@keyframes animY {
    from {
        bottom: 0%;
        background-color: rgb(32, 242, 249);
    }

    to {
        bottom: 60%;
        background-color: rgb(115, 142, 229);
    }
}
